<h1>What question would you like to be answered?</h1>

<form style="margin-top:20px;" class="form-group" id="posts-new" method="post" action="/posts">
  <input class="form-control" style="margin-bottom:20px;" type="text" name="title" placeholder="title">
  <textarea class="form-control text-box" rows="4" cols="50" name="post" placeholder="question"></textarea>
  <input class="btn btn-info" type="submit" value="post question">

</form>
