<header>
  <h1>Short Stack</h1>
  <p>
    <% if !logged_in? %>
      <a href="/register">sign up</a>
      <a href="/login">login</a>
    <% else %>
      <a href="/users/<%= current_user.id %>">
     User Profile</a>
     <a href="/logout">logout</a>
    <% end %>
  </p>
</header>

<ul>
<% @posts.each do |post| %>
<li>

<p><a href="/posts/<%=post.id%>"><%= post.title %></a></p>

</li>

<% end %>
</ul>

<!--
<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="submit">
</form>
 -->
