

<ul>
<% @posts.each do |post| %>
<li>

<p><a href="/posts/<%=post.id%>"><%= post.title %></a></p>

</li>

<% end %>
</ul>

<!--
<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="submit">
</form>
 -->
