<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Style -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/custom.css">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
  <h1>Short Stack</h1>
  <p>

  <a class="btn btn-primary navbar-btn" href="/">home</a>
    <% if !logged_in? %>
      <a class="btn btn-success navbar-btn" href="/register">sign up</a>
      <a class="btn btn-danger navbar-btn" href="/login">login</a>
    <% else %>
      <a class="btn btn-success navbar-btn" href="/users/<%= current_user.id %>">
     user profile</a>
     <a class="btn btn-danger navbar-btn" href="/logout">logout</a>
     <a class="btn btn-warning navbar-btn" href="/posts/new">create post</a>
    <% end %>

  </p>
</div>
</nav>
<div class="yield">
  <%= yield %>
</div>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
